<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>

	<!--@TODO: redo for struts-->
	<!--<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>pt.onept.mei.is1920.mybay.web.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>-->
</web-app>